.dataTables_wrapper select {
    width: 100px !important;
    height: 30px !important;
}

body {
    font-family: "Roboto" !important;
    font-size: 16px !important;
}

/*



 */
#loading-super {
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
    position: absolute;
    top: 0;
    background: #95a5a6;
    z-index: 100;
    opacity: 0.8;
    filter: alpha(opacity=80);
    display: none;
}
#loading-progress {
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
    position: fixed;
    top: 0;
    z-index: 110;
    display: none;
}
.cprogress {
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-100px, 0px);
    width: 200px;
    margin: 0 auto;
    margin-top: 0px;
    z-index: 120;
    text-align: center;
    border: 1px solid #ccc;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: #f0f0f0;
    color: #000;
    font-size: 1rem !important;
}
#capaprogress {
    margin-top: 20px;
    font-size: 40px;
    padding: 10px;
}

div:where(.swal2-container) button:where(.swal2-styled).swal2-confirm {
    border: 0;
    border-radius: 0.25em;
    background: initial;
    background-color: initial;
    background-image: initial;
    background-color: #173f8a !important;
    color: #fff;
    font-size: 1em;
}
